.register-form {
    width: 100%;
    align-items: center;
}

.register-form-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-vs-google {
    width: fit-content;
}