.product-form-action {
    margin-top: 1rem;
    // border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;

    & button {
        color: var(--black)
    }

}

.product-form {
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    max-width: 100%;
    width: 100%;
    padding: 40px;
}