// Làm 2 cái hiệu ứng css cho header
#organism-header {
    color: var(--white);

    & a {
        color: var(--white);
        text-decoration: none;
    }
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(22 22 22 / var(--tw-bg-opacity)) !important;
}

.menu {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.menu>li:not(.mega-box) {
    margin-left: 2.25rem;
}

.menu>li:not(.mega-box) {
    position: relative;
}

.menu>li:not(.mega-box)>.menu-item {
    display: flex;
    min-height: 36px;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


.search-component {
    overflow: hidden !important;
    // border: 1px solid red !important;
}

.item-menu {
    cursor: pointer;
    user-select: none;
}

.category-menu-component {
    position: absolute;
    border: 1px solid red;
}

.navbar__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;

}

.navbar__links__item {
    cursor: pointer !important;
    user-select: none;
    color: var(--black);

    & i {
        cursor: pointer;
        color: var(--black);
    }
}

#header-auth {
    max-width: 200px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    cursor: default;
}