.organism-header {
    width: 100%;
    // background-color: var(--black);
    // color: var(--white);
    font-weight: 400;
}

.organism-wrapper {
    // border: 1px solid red !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#header-one {
    background-color: var(--black);
    color: var(--white);
    flex-direction: row-reverse;
    justify-content: flex-end;
    min-height: 44px;
}

.navbar__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.75rem;
}

.navbar__links__item {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem;
    & i {
        cursor: pointer;
    }
    
}

// 2
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.search-header-component {
    box-sizing: border-box;
    display: inline-flex;
    background: #fff;
    border-radius: .313rem;
    padding: var(--spacing);
    border: 1px solid var(--input-border-color);
    color: var(--input-color);
    font-size: 1rem;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all .3s ease-in-out;
}

#header-two {
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    min-height: 40px;

}

#search-header {
    display: flex;
    flex: 1;
    min-height: 32px;
    margin-right: 5%;

    & input {
        border: 1px solid var(--black);
        background-color: var(--white);
        padding: 0.5rem 0.25rem 0.5rem 1rem;
        border-radius: 2rem;
        // color: var(--back);
        width: 100%;
        height: 100%;
    }
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    user-select: none;

    & button {
        min-width: 24px;
        min-height: 24px;
    }
}

.search-header-container {
    display: flex;
    gap: 1.75rem;

    & i {
        font-size: 24px;
    }
}

#header-three {
    border-bottom: 1px solid var(--border-color);
    // border: 1px solid red;
    transition: all 0.8s ease-in-out;
    padding: 0;
    opacity: 0;
    z-index: -1;
}

.show-header-search {
    // padding: 0;
    // opacity: 0;
    // z-index: -1;
    padding: 2rem 0 !important;
    opacity: 1 !important;
    z-index: 1 !important;
}



.b_menu__list {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;

    & a {
        // color: var(--white);
        color: var(--black);
        text-decoration: none;
        user-select: none;
    }
}

.b_menu__item {
    padding: 0 1rem;
}




#header-auth {
    max-width: 100px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    cursor: default;

}