.cart-page .cart-container {
    // border: 1px solid #ddd;
    padding: 1% 0 1% 0;
    width: 100%;
    margin: auto;
    // border-radius: 10px;
}

.cart-page table {
    width: 100%;
    border-collapse: collapse;
}

.cart-page th,
.cart-page td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.quantity-product-cart {
    min-width: 100px;
    border: 1px solid var(--border-color);

}

.cart-page button {
    border: 1px solid var(--border-color);
    background: var(--white);
    border-radius: 0.25rem;
    margin: 0 5px;
    padding: 5px 10px;
    color: var(--black);
    cursor: pointer;
    user-select: none;
    & button:hover {
        background: #ff4500;
    }

}


.cart-page .cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-page .cart-summary h3 {
    color: var(--black);
}

.cart-page .cart-summary button {
    border: 1px solid var(--border-color);
    background: var(--border-color);
    border-radius: 0.25rem;
    padding: 10px 20px;
    font-size: 16px;
}