* {
	box-sizing: border-box;
}

html {
	font-family: 'Inter', serif;
}

body {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.pages-layout {
	background-color: var(--background-homepage);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.pages-layout > div:nth-child(2) {
	/* border: 1px solid var(--border-color); */
	/* background-color: var(--background-homepage); */
	border-radius: 0.5rem;
	flex: 1;
	/* padding: 0.25rem 0.5rem; */
}

.content-truncate {
	white-space: nowrap; /* Ngăn nội dung tự động xuống dòng */
	overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
	text-overflow: ellipsis; /* Hiển thị dấu "..." khi vượt quá chiều rộng */
	/* Tuỳ chỉnh chiều rộng phù hợp */
	/* max-width: 300px;  */
	-webkit-box-orient: vertical;
	/* Hiển thị tối đa 2 dòng */
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

/* Ghi đề css thư viện */
/* .row > * {
	margin: 0.5rem;
} */

.container {
	padding: 0;
}
.text-danger {
    color: red !important;
}

:root {
    --bg-primary: #12A14A;
    --color-page: #0077B6;
    --color-primary: #12A14A;
    --color-paginate: #0077B6;
    --font-primary: "Nunito", sans-serif;
    --content-width: 1296px;
    --color-bortop: #ebebeb;
    --color-sale: #F6F6F6;
    --color-border: gray;
    --color-main: rgb(255 168 0 / var(--tw-text-opacity));
    --color-white: #fff;

    --tw-text-opacity: 1;
    --main-color-text: rgb(255 255 255 / var(--tw-text-opacity));

	--gap: 30px;
    --gap-double: 60px;
    --theme-color: #12A14A;
    --theme: #12A14A;
    --theme-opc80-color: rgba(18, 161, 74, 0.8);
    --theme2: #101010;
    --theme2-color: #101010;
    --theme2-opc80-color: rgba(16, 16, 16, 0.8);
    --header-top-bg: transparent;
    --header-bg: transparent;
    --menu-bg: transparent;
    --valak-bg: #12A14A;
    --menu-link-hover-color: #F26921;
    --menu-item-hover-bg: transparent;
    --footer-bg: #F2F2F2;
    --copyright-bg: transparent;
    --title-font: "Inter", sans-serif;
    --text-font: "Inter", sans-serif;
    --menu-font: "Inter", sans-serif;
    --dropdown-bg: #F2F2F2;

}