@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #000;
	--white: #fff;
	--primary-red: #ad1023;
	--secondary-red: #d70018;
	/* --secondary-red: #AD1023; */
	--border-color: #ededed;
	--background-homepage: #f7f8fa;
	--color-attr: #333;
	--color-old-price: #707070;
	--rate-color: #f59e0b;
	--spacing: 1rem;
	--input-color: #0a0a0a;
	--input-border-color: grey;

	--container-padding-x: 50px;
	--container-width-small: 850px;
	--container-width-medium: 1280px;
	--container-width-large: 1640px;
	/* DB accustic */
	/* --bg-primary: rgba(22, 22, 22, 1); */
}
#root {
	min-height: 101vh;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Inter', serif;
}

body {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

/* form {
	width: 400px;
	max-width: 100%;
	margin: 100px auto;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.2);
	padding: 40px;
} */

.pages-layout {
	background-color: var(--background-homepage);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.pages-layout > div:nth-child(2) {
	/* border: 1px solid var(--border-color); */
	background-color: var(--background-homepage);
	border-radius: 0.5rem;
	flex: 1;
	/* padding: 0.25rem 0.5rem; */
}

.content-truncate {
	white-space: nowrap; /* Ngăn nội dung tự động xuống dòng */
	overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
	text-overflow: ellipsis; /* Hiển thị dấu "..." khi vượt quá chiều rộng */
	/* Tuỳ chỉnh chiều rộng phù hợp */
	/* max-width: 300px;  */
	-webkit-box-orient: vertical;
	/* Hiển thị tối đa 2 dòng */
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

/* Ghi đề css thư viện */
.row > * {
	margin: 0.5rem;
}

.container {
	padding: 0;
}
