.home-page {
    width: 100%;
}
.home-page-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // background-color: var(--primary-white);
}
.home-nav-item {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    user-select: none;
}

.home-nav-item--active {
    background-color: var(--primary-red);
}
.home-nav-subcategories {
    flex: 1;
    display: flex;
}
.subheader {
    display: flex;
}